.flex-toolbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.toolbar{
  background-color: #FFF;
}

.example-spacer {
  flex: 1 1 auto;
}

.logo {
  background-image: url("../../assets/images/teddy-logo.png");
  background-size: contain; /* Ajusta a imagem sem cortar */
  background-repeat: no-repeat; /* Evita repetições indesejadas */
  background-position: center;
  width: 150px;
  height: 50px;
}


.user-name {
  font-family: Inter;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
}

.custom-button:hover {
  color: #ec6724;
  text-decoration: underline;
  background-color: #e7c6b681;
}
.custom-button:active {
  background-color: #f1c6b0;
}

.row{
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
}