<mat-toolbar>
  <div class="flex-toolbar">
    <div class="example-spacer">
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
      </button>
      <img src="../../assets/images/logos/logo-teddy.png" class="logo" />
    </div>
    <div class="example-spacer">
      <button mat-button class="user-name">Clientes</button>
      <button mat-button class="user-name">Clientes selecionados</button>
      <button mat-button class="user-name">Sair</button>
    </div>
    <label class="user-name"
      >Olá, <strong>{{ name }}</strong
      >!</label
    >
  </div>
</mat-toolbar>