.sidenav-container {
  width: 250px;
  background-color: #fff;
}

.logo-container {
  background-color: #363636;
  height: 150px;
  width: 100%;
  margin-bottom: 100px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.link {
  font-family: Inter;
  font-weight: 600 !important;
  font-size: 18px;
  line-height: 100%;

  text-decoration: none;
  color: #000;
}

.logo {
  background-image: url("../app/shared/assets/images/teddy-logo.png");
  background-size: contain; /* Ajusta a imagem sem cortar */
  background-repeat: no-repeat; /* Evita repetições indesejadas */
  background-position: center;
  width: 150px;
  height: 50px;
}