.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 30px;

}

.container-cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 70%;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  gap: 10px;
}

.row-direction {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  width: 100%;
}

.row-pagination{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2px;
}

span {
  font-family: Inter;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
}

.button-new{
  width: 100%;
  border-radius: 5px;
  border: 2px solid #ec6724 !important;
  color: #ec6724 !important;
}

.button-new:hover{
  background-color: #e6a17e50 !important;
}

.mat-select{
  width: 70px;
  height: 50px;
}