/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.button {
  background-color: #ec6724;
  border-radius: 5px;
  color: #fff !important;
  width: 100%;
}

.button:hover {
  background-color: #ffb894df !important;
}

.button-close {
  background-color: #ec2424;
  border-radius: 5px;
  color: #fff !important;
}

.button-close:hover {
  background-color: #ef7a7a7d !important;
}

span {
  font-family: Inter;
  font-weight: 500 !important;
  font-size: 18px !important;
  line-height: 100%;
}

.row-direction {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  width: 98%;
}